In [11]:
name = input('enter your name : ')
print(len(name))

enter your name : winku
5

In [14]:
str = "$ing is having $45."
print(str.count('$'))

2

## Conditional Statements

### if-elif-else :

In [16]:
light = 'green'

if (light == 'green'):
    print('go')
elif (light == 'red'):
    print('stop')
elif (light == 'yellow'):     # multiple elif can be used.
    print('look')
else:
    print('light is broken')

go

In [19]:
marks = int(input('enter marks: '))
if (marks >= 90):
    print('Grade = A')
elif (90>marks>80):
    print('Grade = B')
elif (80>marks>70):
    print('Grade = C')
else:
    print('Grade = D')

enter marks: 84
Grade = B

In [ ]:
# if statement needs to be write first. And elif statement get check only when the first statement (if statement) is false.

### If else statement :

In [17]:
age = 23
if (age >= 18):
    print('vote')
else:
    print("can't vote")

vote

Q: WAP to check if a number entered by the user is odd or even.

In [2]:
num = int(input('enter the no. : '))
rem = num % 2

if (rem == 0):
    print('even')
else:
    print('odd')

enter the no. : 13
odd

Q: WAP to find the greatest of 3 numbers entered by the user.

In [3]:
a = int(input('a :'))
b = int(input('b :'))
c = int(input('c :'))

if (a >= b and a >= c):
    print('a is greater')
elif (b >= a and b >= c):
    print('b is greater')
else :
    print('c is greater')

a :5
b :3
c :6
c is greater

Q: WAP to check if a number is a multiple of 7 or not.

In [6]:
x = int(input('enter number : '))

if (x % 7  == 0):
    print('multiple of 7')
else :
    print('not a multiple of 7')

enter number : 45
not a multiple of 7

# Lists in python :

A built-in data type that stores set of values. 
It can store elements of different types(int, float, string, etc.)

In [ ]:
# it is denoted by square bracket [].
# List is muatable means we change the values in list.

In [7]:
list1 = [45,65,24,76]
list1

[45, 65, 24, 76]

In [8]:
len(list1)

4

In [9]:
list1[0] # first index in list starts from 0.

45

In [10]:
list2 = ['winkle',24,49.5,'dec'] #index - [0,1,2,3]

In [11]:
list2[3]

'dec'

In [ ]:
# change the values :

In [12]:
list2[0] = 'yogesh'

In [13]:
list2

['yogesh', 24, 49.5, 'dec']

### List slicing :

In [ ]:
# list_name[starting_idx : ending_idx]  # ending idx is not included.

In [14]:
list1

[45, 65, 24, 76]

In [15]:
list1[0:2]

[45, 65]

In [16]:
list1[2:5]

[24, 76]

In [17]:
list1[1:]

[65, 24, 76]

In [18]:
list1[:5]

[45, 65, 24, 76]

In [20]:
list1[1:len(list1)]

[65, 24, 76]

In [21]:
list1[-3:-1] # negative indexing

[65, 24]

### List Methods

In [30]:
list3 = [2,1,3]
list3

[2, 1, 3]

In [23]:
list3.append(4) #add one element at the end.

In [24]:
list3

[2, 1, 3, 4]

In [26]:
list3.sort() # sort in ascending order.

In [27]:
list3

[1, 2, 3]

In [28]:
list3.sort(reverse=True) # sort in descending order
list3

[3, 2, 1]

In [31]:
list3.reverse() # reverse list
list3

[3, 1, 2]

In [33]:
 # list.insert(idx, el)  # insert element at index
list3.insert(1,5)

In [34]:
list3

[3, 5, 5, 1, 2]

In [36]:
list3.remove(5) #remove first occurrence of element

In [37]:
list3

[3, 5, 1, 2]

In [ ]:
# list3.pop(idx)  # removes element at idx.
list.pop(idx)

# Tuples in python

A built-in data type that lets us create immutable sequence of values.

In [ ]:
# tuple is denoted by parentheses () and also stores elements of different data type.

In [1]:
a = (23,'winkle',43.2)
a

(23, 'winkle', 43.2)

In [2]:
type(a)

tuple

In [3]:
# indexing :
a[2]

43.2

In [4]:
a[0:2]

(23, 'winkle')

In [5]:
a[1] = 3  # we can not change any value in tuples

TypeError: 'tuple' object does not support item assignment

In [6]:
b = (1)
type(b)

int

In [ ]:
# a single value in parentheses is not tuple.

### Tuple Methods

In [8]:
# 1. tup.index(el)  #returns index of first occurrence 
tup = (2,1,3,1)
print(tup.index(3))

2

In [10]:
# 2. tup.count(el)  #counts total occurrences
print(tup.count(1))

2

Q: WAP to ask the user to enter names of their 3 favorite movies and store them in a list.

In [13]:
movie1 = input('enter 1st fav movie :')
movie2 = input('enter 2nd fav movie :')
movie3 = input('enter 3rd fav movie :')

fav_movies = []
fav_movies.append(movie1)
fav_movies.append(movie2)
fav_movies.append(movie3)
print(fav_movies)

enter 1st fav movie :ddlj
enter 2nd fav movie :k3g
enter 3rd fav movie :wake up sid
['ddlj', 'k3g', 'wake up sid']

Q: WAP to check if a list contains a palindrome of elements.(hint: use copy() method)

In [15]:
# palindrome-   same from left to right
# ma'am
# 12321

# we will make a copy of a given list and reverse the copy and 
# check if both the given list and reversed is equal or not.
#if it is equal then it is called palendrome.

In [17]:
list1 = [1,2,1]
copy_list1 = list1.copy()
copy_list1.reverse()

if copy_list1 == list1:
    print('palendrome')
else:
    print('not palendrome')

palendrome

Q: WAP to count the number of students with the "A" grade in the following tuple.

In [19]:
tup = ('C','D','A','A','B','B','A')
print(tup.count('A'))

3

Q: Store the above values in a list and sort them from 'A' to 'D'.

In [23]:
letters = ['C','D','A','A','B','B','A']
letters.sort()

In [24]:
letters

['A', 'A', 'A', 'B', 'B', 'C', 'D']

# Dictionary in Python

Dictionaries are used to store data values in Key : value pairs.

They are unordered, muatable(changable) and don't allow duplicate keys

In [25]:
# Dictionary stores key values pairs in curly brackets {} and store different data types in kyes and values.

In [29]:
info = {
    'key': 'value',
    'name':'winkle',
    'learning': 'coding',
    'age' : 24,
    'subjects' : ['ml','sql','python']
}
info

{'key': 'value',
 'name': 'winkle',
 'learning': 'coding',
 'age': 24,
 'subjects': ['ml', 'sql', 'python']}

In [28]:
# tuple can be used as a key but not list.

In [31]:
print(info['age'])
print(info['subjects'])

24
['ml', 'sql', 'python']

In [32]:
# changing the values
info['name'] = 'shaina'
info

{'key': 'value',
 'name': 'shaina',
 'learning': 'coding',
 'age': 24,
 'subjects': ['ml', 'sql', 'python']}

In [33]:
# add new key value pair:
info['surname'] = 'thakur'

In [34]:
info

{'key': 'value',
 'name': 'shaina',
 'learning': 'coding',
 'age': 24,
 'subjects': ['ml', 'sql', 'python'],
 'surname': 'thakur'}

In [35]:
# null dictionary:
null_dic = {}

In [36]:
null_dic['name']= 'winkle'
null_dic

{'name': 'winkle'}

### Nested Dictionaries

In [7]:
student = {
    'name' : 'Winkle',
    'subject' : {
        'eng': 87,
        'chem': 96,
        'maths': 99
    }
}

In [8]:
print(student)

{'name': 'Winkle', 'subject': {'eng': 87, 'chem': 96, 'maths': 99}}

In [9]:
print(student['subject'])

{'eng': 87, 'chem': 96, 'maths': 99}

In [11]:
student['subject']['maths']

99

### Dictionary Methods

In [13]:
# myDict.keys()  #returns all keys
student.keys()

dict_keys(['name', 'subject'])

In [15]:
# myDict.values()  #returns all values
student.values()

dict_values(['Winkle', {'eng': 87, 'chem': 96, 'maths': 99}])

In [16]:
# myDict.items()   #returns all (keys,val) pairs as tuples
student.items()

dict_items([('name', 'Winkle'), ('subject', {'eng': 87, 'chem': 96, 'maths': 99})])

In [17]:
# myDict.get('key')   # returns the key according to value 
student.get('name')

'Winkle'

In [19]:
# myDict.update(newDict)    # inserts the specified items to the dictionary
student.update({'city':'Mumbai'})

In [20]:
student

{'name': 'Winkle',
 'subject': {'eng': 87, 'chem': 96, 'maths': 99},
 'city': 'Mumbai'}

# Set in python

Set is the collection of unordered items.(no indexing)

Each element in set must be unique and immutable.

Set is mutable but the elements in it is immutable.

In [1]:
# str, int, float, bollean and tuple can store in set but not list and dictionary.

In [2]:
# denoted as curly brackets {}

In [3]:
sett = {1,4,'winkle','sparsh',83.2,True}
sett

{1, 4, 83.2, 'sparsh', 'winkle'}

In [4]:
len(sett)

5

In [5]:
set1 = {1,3,3,4,'hello','hello'}
set1

{1, 3, 4, 'hello'}

In [6]:
# it ignored the duplicate values

In [7]:
len(set1)  # again ignored duplicate values

4

In [8]:
#repeated elements stored only once, so it resolved to {1,2}

In [9]:
# empty set syntex:
null_set = set()     #not null_set = {}   because it is the syntex of dictionary
type(null_set)

set

 ### Set Methods

In [13]:
# set.add(el)    add an element
null_set.add('hello')
null_set

{'hello'}

In [14]:
# set.remove(el)   remove the element
null_set.remove('hello')
null_set

set()

In [15]:
sett

{1, 4, 83.2, 'sparsh', 'winkle'}

In [16]:
# set.pop()    removes a random value
sett.pop()
sett

{1, 4, 83.2, 'sparsh'}

In [ ]:
# 'winkle' element is removed randomly

In [17]:
# set.clear()   emptiest the set
sett.clear()
sett

set()

In [18]:
set_1 = {1,2,4,6}
set_2= {3,4,6}

In [19]:
# set1.union(set2)  combines both the set values and returns new
set_1.union(set_2)

{1, 2, 3, 4, 6}

In [20]:
# set1.intersection(set2)   #combine common values and return new
set_1.intersection(set_2)

{4, 6}

In [21]:
dic ={}

# Loops in python

Loops are used to repeat instructions.

## While loops

In [1]:
i = 1
while i <= 5:
    print('winkle')
    i += 1

winkle
winkle
winkle
winkle
winkle

Q: print numbers from 1 to 100.

In [3]:
i = 1
while i <=100:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

Q: print numbers from 100 to 1.

In [4]:
i = 100
while i >= 1:
    print(i)
    i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

Q: print the multiplication table of a number n.

In [5]:
n = 2
i = 1
while i <= 10:
    print(n*i)
    i += 1

2
4
6
8
10
12
14
16
18
20

Q: Print the elements of the following list using a loop:
[1,4,9,16,25,36,49,64,81,100]

In [8]:
num = [1,4,9,16,25,36,49,64,81,100]

idx = 0

while idx < len(num):
    print(num[idx])
    idx += 1

1
4
9
16
25
36
49
64
81
100

Q: Search for a number x in this tuple using loop: [1,4,9,16,25,36,49,64,81,100]

In [14]:
nums = (1,4,9,16,25,36,49,64,81,100)

x = 49
i = 0
while i < len(nums):
    if x == nums[i]:
        print('found',x,'at idx',i)
        break
    else:
        print('finding...')
    i+=1

finding...
finding...
finding...
finding...
finding...
finding...
found 49 at idx 6

### Beak:

In [11]:
# used to terminate the loop when encountered.

In [13]:
i = 1
while i <= 5:
    print(i)
    if (i == 3):
        break
    i += 1

1
2
3

 ### Continue:

Terminates execution in the current iteration and continues execution of the loop with the next iteration.

In [15]:
i = 1 
while i <= 5:
    if (i == 3):
        i += 1
        continue  #skip
    print(i)
    i+=1

1
2
4
5

In [16]:
# it skips that particular iteration that has been mention to continue.

In [17]:
#print odd numbers using while loop and continue 
i = 1
while i <= 10:
    if (i%2 == 0):
        i += 1
        continue
    print(i)
    i+=1

1
3
5
7
9

In [18]:
# print even numbers
i = 1
while i <= 10:
    if (i%2 != 0):
        i += 1
        continue
    print(i)
    i += 1

2
4
6
8
10

## For loop

For loop in python is used to iterate over a sequence ( like a list, tuple, string or range) and execute a block of code for each item in that sequence.

In [19]:
#for el in list:
    #some work

In [20]:
nums = [1,2,3,4,5,6]
for val in nums:
    print(val)

1
2
3
4
5
6

In [21]:
str1 = ('hello')
for i in str1:
    print(i)

h
e
l
l
o

Q: Print the elements of the following list using a loop:
[1,4,9,16,25,36,49,64,81,100]

In [22]:
list1 = [1,4,9,16,25,36,49,64,81,100]

for i in list1:
    print(i)

1
4
9
16
25
36
49
64
81
100

Q: Search for a number x in this tuple using loop:
(1,4,9,16,25,36,49,64,81,100)

In [29]:
tup = (1,4,9,16,25,36,49,64,81,100)
idx = 0
for i in tup:
    if (i == 25):
        print(i,'found at idx',idx)
    idx+=1

25 found at idx 4

 ## range( )

 Range function returns a sequence of numbers,starting from 0 by default, increments by 1(by default) and stops before a specified number.

In [1]:
# range(start?,stop,step?)

In [2]:
for i in range(5): # range(stop)
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,5):  # range(start,stop)
    print(i)

1
2
3
4

In [4]:
for i in range(1,10,2):# range(start,stop,step)
    print(i)

1
3
5
7
9

Q: Print no. from 1 to 100 using for and range( )

In [5]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

Q: print the multiplication table of a number n.

In [9]:
n = int(input('enter number : '))
for i in range(1,11):
    print(n*i)

enter number : 3
3
6
9
12
15
18
21
24
27
30

## pass statement

In [ ]:
# pass is a null statement that does nothing. used as a placeholder for future code.

In [10]:
for i in range(5):
    pass

Q: WAP to find the sum of first n numbers. (using while loop)

In [25]:
# while loop
s = 0
i = 1
n = 5

while i <= n:
    s += i
    i += 1
print('sum = ',s)

sum =  15

In [20]:
# for loop
n = 4
w = 0
for i in range(1,n+1):
    w += i
    
print('sum = ',w)

sum =  10

Q: WAP to find the factorial of first n numbers.(using for)

In [31]:
fac = 1
n = 5
for i in range(1,n+1):
    fac*=i
    
print('factorial = ',fac)

factorial =  120

In [32]:
# while loop
n = 4
fact = 1
i = 1
while i <= n:
    fact*=i
    i+=1
print('factorial = ',fact)

factorial =  24

 Q: Count the number of vowels in a string using a for loop.

In [33]:
text = 'Hello,how are you?'
vowel = 'aeiouAEIOU'
vowel_count = 0
for i in text:
    if i in vowel:
        vowel_count+=1
print('no. of vowels =', vowel_count)

no. of vowels = 7

# Functions in Python

Block of statement that perform a specific task

In [ ]:
# ek esa code jisko hm bar bar use kr skte hai same kam ko perform krne ke liye .

In [2]:
'''
    def func_name(parameter1, parameter2, ...):     #function defination
        #some work
        return value
    func_name(argument1,argument2...)  # function call
'''

'\n   def func_name(parameter1, parameter2, ...):     #function defination\n       #some work\n       return value\nfunc_name(argument1,argument2...)  # function call\n'

In [4]:
a = 2
b = 4
sum1 = a+b
print(sum1)

# some line of code

a = 6
b = 9
sum2 = a+b
print(sum2)

#some line of code

6
15

In [3]:
# if the code is repeating then we use function

In [8]:
def sum_func(a,b):
    sum1 = a+b
    return sum1

print(sum_func(2,4))

6

In [7]:
sum_func(6,9)

15

In [9]:
# function can be created without parameters and return 
# in return it will give none.

In [12]:
def print_hello():
    print('hello')
output = print_hello()
print(output)

hello
None

In [13]:
# Make a function average of 3 numbers
def avg_find(a,b,c):
    avg = (a+b+c)/3
    return avg
print(avg_find(3,4,5))

4.0

# Built-in functions

In [ ]:
'''
print()
len()
type()
range()

'''

# User defined functions

In [14]:
# defined the functions by us.

## Default Paremeters

In [15]:
def mult_value(a,b):
    return a*b
mult_value()

TypeError: mult_value() missing 2 required positional arguments: 'a' and 'b'

In [16]:
# we can not run the code without arguments so we use default values

In [17]:
def mult_value(a=1,b=1):   # assign default values if no arguments passed.
    return a*b
mult_value()

1

In [18]:
#default value can assign from last 
def mult_value(a,b=1):   
    return a*b
mult_value(3)  # automatically become the value of 'a'

3

Q: WAF to print the length of a list.(list of parameter)

In [2]:
fruits = ['orange','banana','mango','grapes','strawberry']
subject = ['eng','maths','phy','chem','hindi','history','geo']

In [21]:
def fin_len(list):
    return len(list)
print(fin_len(fruits))
print(fin_len(subject))

5
7

Q: WAF to print the elements of a list in a single line.(list is the parameter)

In [6]:
def print_list(list):
    for i in list:
        print(i,end=" ")
        
print(print_list(fruits))

orange banana mango grapes strawberry None

Q: WAF to find the factorial of n.(n is the parameter)

In [11]:
def find_fact(n):
    fact=1
    for i in range(1,n+1):
        fact*=i
    return fact
find_fact(5)

120

In [12]:
find_fact(3)

6

In [14]:
find_fact(4)

24

 Q: WAF to convert USD to INR.

In [16]:
def converter(usd_val):
    inr_val = usd_val * 83
    print(usd_val, "USD =",inr_val,'INR')
converter(3)

3 USD = 249 INR

In [17]:
converter(100)

100 USD = 8300 INR

In [18]:
# WAF to find the no. is odd or even.
def find_no(n):
    if n%2 == 0:
        print('even')
    else:
        print('odd')
find_no(4)

even

In [20]:
find_no(7)

odd

# Recursion

In [21]:
# when a function calls itself repeatedly.

In [22]:
def show(n):
    if (n==0):
        return
    print(n)
    show(n-1)
show(4)

4
3
2
1

In [23]:
def fact(n):
    if (n==0 or n==1):
        return 1
    else:
        return n*fact(n-1)
fact(4)

24

Q: Write a recursion function to calculate the sum of first n natural numbers.

In [28]:
def find_sum(n):
    if (n==0):
        return 0
    return find_sum(n-1)+n
find_sum(3)

6

Q: Write a recursive function to print all elements in a list.
hint - use list & index as parameters.

In [30]:
 def print_list(list,idx =0):
        if (idx == len(list)):
            return
        print(list[idx])
        print_list(list,idx+1)
print_list(fruits)

orange
banana
mango
grapes
strawberry

# OOPS - object oriented programming system

In [1]:
# class is a blueprint for creating object.

In [5]:
class students:
    name = 'winkle'

s1 = students()
print(s1.name)

winkle

In [8]:
class car:
    color = 'blue',
    brand = 'mercedes'
    
c1= car()
print(c1.color)

('blue',)

In [7]:
print(c1.brand)

mercedes

In [11]:
class student:
    def __init__(self,fullname):   # constructors
        self.name=fullname
s1= student('karan')
print(s1.name)

karan

In [12]:
s2 = student('shaina')
print(s2.name)

shaina

In [3]:
class Student:
    # default constructors
    def __init__(self):
        pass
    
    # parameterized constructors
    def __init__ (self,name,marks):
        self.name = name,    # attributes are name and marks
        self.marks = marks

s1 = Student('winkle',99)
print(s1.name,s1.marks)

('winkle',) 99

In [14]:
s2 = Student('shaina',65)
print(s2.name,s2.marks)

('shaina',) 65

In [9]:
class student:   #class
    def __init__(self,name,marks): #constructor
        self.name=name,   #object attributes
        self.marks=marks
    @staticmethod #decorator 
    def hello():    #no use of self we use @staticmethod
        print('winkle is the best.')
    def avg_find(self):  #method
        sum = 0
        for i in self.marks:
            sum+=i
        print('hi',self.name,'your avg score is :',sum/3)
s1=student('shaina',[98,97,99])  #object
s1.avg_find()

hi ('shaina',) your avg score is : 98.0

In [10]:
s1.name = 'winkle'
s1.avg_find()
s1.hello()

hi winkle your avg score is : 98.0
winkle is the best.

Q: Create Account class with 2 attributes - balance & account no. and create methods for debit,credit & printing the balance

In [15]:
class Account:
    def __init__(self,bal,acc):
        self.balance=bal
        self.account_no=acc
        
    #debit method
    def debit(self,amount):
        self.balance-=amount
        print('Rs.',amount,'was debited')
        print('total balance = ',self.get_balance()) 
        
    #credit method
    def credit(self,amount):
        self.balance+=amount
        print('Rs.',amount,'was credited')
        print('total balance = ',self.get_balance()) 
        
    def get_balance(self):
        return self.balance

acc1=Account(10000,12345)

In [16]:
acc1.debit(1000)

Rs. 1000 was debited
total balance =  9000

In [17]:
acc1.credit(500)

Rs. 500 was credited
total balance =  9500

### del keyword

In [1]:
# to delete object or object attributes.

In [5]:
print(s1.name)

('winkle',)

In [6]:
del s1

In [8]:
print(s1.name)

NameError: name 's1' is not defined

### Private attributes & methods

These are used only within the class and are not accessible from outside the class.

In [11]:
class account:
    def __init__(self,acc_no,acc_pass):
        self.acc_no = acc_no
        self.__acc_pass = acc_pass #private attribute but using double underscore"__"before the one need to be private

a1 = account('1234','abcd')

In [12]:
print(a1.acc_no)

1234

In [13]:
print(a1.acc_pass)

AttributeError: 'account' object has no attribute 'acc_pass'

# Inheritance

When one class(child/derived) derives(lena) the properties & methods of another class(parent/base).

 ### 1. Single Inheritance

In [20]:
class Car:
    color = 'black'
    @staticmethod
    def start():
        print('car started..')
    @staticmethod
    def stop():
        print('car stopped.')
        
class ToyotaCar(Car):
    def __init__(self,brand):
        self.brand = brand
        
car1 = ToyotaCar('fortuner')
car2 = ToyotaCar('prius')

In [21]:
print(car1.brand)

fortuner

In [22]:
print(car1.brand,car1.color)

fortuner black

In [23]:
print(car1.start())

car started..
None

In [24]:
print(car2.brand,car2.stop())

car stopped.
prius None

## 2. Multi - level Inheritance

In [ ]:
'''
   Car  ---- (base)[parent]
    -                  .
    -                  .
ToyotaCar ---(derived)[child][parent]
    -                           .
    -                           .
fortuner ------------(derived)[child]

'''

In [25]:
class fortuner(ToyotaCar):
    def __init__(self,cartype):
        self.cartype = cartype
c1 = fortuner('diesel')

In [26]:
c1.cartype

'diesel'

In [27]:
c1.start()

car started..

### 3. Multiple Inheritance

In [ ]:
'''
 Base1            Base2
(parent1)       (parent2)
   .             .
     .         .
       .     .
        Child
'''

In [1]:
class A:
    varA = "welcome to class A"
    
class B:
    varB = 'welcome to class B'
    
class C(A,B):
    varC = 'welcome to class C'
    
c1 = C()

In [2]:
print(c1.varA)
print(c1.varB)
print(c1.varC)

welcome to class A
welcome to class B
welcome to class C

## Super method

In [3]:
# super() method is used to access methods of the parent class.

In [8]:
class Car:
    def __init__(self, Cartype):
        self.Cartype = Cartype
        
    @staticmethod
    def start():
        print('car started..')
        
    @staticmethod
    def stop():
        print('car stopped')
        
class ToyotaCar(Car):
    def __init__(self,name,Cartype):
        self.name=name
        super().__init__(Cartype)
        super().start()
        
car1 = ToyotaCar('prius','electric')
print(car1.Cartype)

car started..
electric

In [ ]:
# Staticmethod is used on those method
# where there is no attribute present because it can not be accessed or modified