# Taking user input

In [1]:
input()

45

'45'

In [4]:
first_num = input("enter the first number")
second_num = input("enter the second number")

enter the first number76
enter the second number43

In [5]:
print(first_num)
print(second_num)

76
43

In [6]:
first_num + second_num

'7643'

Here the digits do not get add but get combined because "first_num" and "second_num" are string type and integer type can add the digits and this combining process is known as concatenation.

Lets use the type fuction to check the data type

In [7]:
#type 
type(first_num)

str

In [8]:
type(76)

int

Like mumbai and kolkata are string type and if we add them it will become mumbaikolkata. 
Also first_num and second_num are string type and there value consider as string and thats why 76 and 43 get combined.

# Type conversion

Type of type conversion
1. Implicit
2. Explicit

In [1]:
# implicit - when python automatically do the type conversion without informing as a programmer

In [2]:
4 + 4.7

8.7

In [3]:
5 + 8+5j

(13+5j)

In [4]:
5.9 + 8+5j

(13.9+5j)

In [5]:
# explicit - As a programmer you have to tell python in which point you need type conversion

In [6]:
#int
int(4.5)

4

int function change float into integer

In [7]:
int('45')

45

String function get converted into integer because of #int function

In [8]:
float(6)

6.0

In [9]:
bool(8)

True

In [10]:
complex(4)

(4+0j)

In [12]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [13]:
int('kolkata')

ValueError: invalid literal for int() with base 10: 'kolkata'

Donot get the output because we can not convert 'kolkata' into an integer.

In [1]:
a = 4.5

In [2]:
int(a)

4

In [3]:
a

4.5

which means data type is not permanent.

In [4]:
first_num = input("enter the first number")
second_num = input("enter the second number")

enter the first number76
enter the second number43

In [5]:
result = int(first_num) + int(second_num)

In [6]:
print(result)

119

Now we get the idea of type conversion, and know where to use #int

# Literals

Literals is a raw data given in a variable, there is various types:
1.Numeric Literals
2.String Literals
3.Boolean Literals
4.Special Literals

# 1. Numeric Literals

In [2]:
#binary literal
a = 0b10101
b = 100
c = 0o100
d = 0x100
print(a,b,c,d)

21 100 64 256

In [1]:
#float literal
float_1 = 10.8
float_2 = 1.8e2
float_3 = 1.5e-3
print(float_1,float_2,float_3)

10.8 180.0 0.0015

In [2]:
#complex literal
x = 7.45j
print(x, x.imag, x.real)

7.45j 7.45 0.0

# 2. String Literals

In [ ]:
string = 'This is winkle'
string = "This is winkle"
char = 'c' #there is no charactor in python as we have given the value c is also consider a string.

# 3. Boolean Literal

In [2]:
a = True + 4
b = False + 10

print('a:',a)
print('b:',b)

a: 5
b: 10

Because True = 1 , False = 0

# 4. Special Literal

In [3]:
c = None
print(c)

None

variable declaration

# Operators

# 1. Arithmatic operator

In [2]:
#Addition method
x = 6
y = 2
print(x+y)

8

In [3]:
#substration method
print(x-y)

4

In [5]:
#multiplication
print(x*y)

12

In [7]:
#Division
print(x/y)

3.0

In [8]:
#modulus operator
print(x%y) #remainder is consider as modulas

0

In [9]:
#Power of operator
print(x**y) # ** is equal to power in python

36

In [11]:
#integer division 
print(x // 4) #convert float into integer like 2.5 will convert into 2

1

# Comparision Operators

In [12]:
print(x>y)

True

In [13]:
print(x<y)

False

In [14]:
print(x>=y)

True

In [15]:
print(x<=y)

False

In [16]:
print(x==y) #equal to

False

In [17]:
print(x!=y) #not equal to

True

# Logical Operators

In [19]:
#or
x = True
y = False
print(x or y) # or is use if x or y is true the answer will be true and false if both the values will be false.

True

In [20]:
#and
print(x and y) # and operator will be true if both the values will be true.

False

In [22]:
# not
print(not x)# because x is true and will get the value which is not x.
print(not y)

False
True

# Bitwise operators

In [23]:
x = 2
y = 3
print(x & y) # here & is and operator in bitwise

2

In [24]:
# binary pattern of x is 010
# Binary pattern of y is 110
# after applying and operator (&) it becomes 010
# thats why we get 2 as an output.
010
110
---
010

In [25]:
print(x|y) # | = or operator in bitwise

3

In [ ]:
010
110
---
110 # for or operator and we get pattern of 3.

In [27]:
print(x >> 2)

0

In [29]:
print (y<< 3)

24

In [30]:
print(~x)

-3

# Assignment Operator

In [31]:
a = 3 # '='is called assignment operator where we assign a value.
print(a)

3

In [32]:
a += 3
# a = a + 3
print(a)

6

In [37]:
a = 4
a -= 3
# a = a - 3
print(a)

1

# Identity operator

In [38]:
a = 4
b = 4
print( a is b) # both the values have same identity.

True

In [39]:
a = 'hello'
b = 'hello'
print(a is b)

True

In [41]:
a = [1,2,3]
b = [1,2,3]
print(a is b)

False

if both value seems same that doesn't mean they are in same memory location.

In [42]:
a = 'Hello-world'
b = 'Hello-world'

print(a is b)

False

a and b are identical strings but are stored in different memory locations.

In [48]:
a = 'Hello-world'
b = 'Hello-world'

print(a is not b)

True

# Membership operator

It tells us that if the value is consider inside the other value.

In [44]:
x = 'delhi'
print('d'in x)

True

In [45]:
x = 'delhi'
print('d'not in x)

False

In [46]:
x = [1,2,3,4]
print(3 in x)

True

In [47]:
x = [1,2,3,4]
print(5 in x)

False

# if else statement

In [2]:
# correct email = winklethakur12@gmail.com
# password = 1234

email = input('apna email bta')
password = input('apna password bhi bta')

if email == "winklethakur12@gmail.com" and password == "1234":
    print('welcome')
elif email == 'winklethakur12@gmail.com'and password != '1234':
    print('password incorrect')
    password = input('password fir se bol')
    if password == '1234':
        print("finally correct")
    else:
        print('still incorrect')
else:
    print('incorrect credentials')

apna email btawthakur345@gmail.com
apna password bhi bta1234
incorrect credentials

# Indentation

when writing a if else statement and put ' : ' you will get space in next line that space is called indentation.

# Loop
In any application you see products get displayed in any form or have option of new feed they are using LOOPS.

# While loop

In [3]:
number = int(input("enter the number"))

i = 1
while i < 11:
    print(number * i)
    i= i+1

enter the number6
6
12
18
24
30
36
42
48
54
60

In [18]:
number = int(input('Enter the number'))
i = 1
while i<11:
    print(number,'*', i ,'=', number* i )
    i+=1

Enter the number7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [19]:
# Guessing game

In [20]:
import random

In [23]:
random.randint(1,100)

39

In [1]:
import random
jackpot = random.randint(1,11)
guess = int(input('Guess kr Arshu : '))
counter = 1
while guess != jackpot:
    if guess < jackpot:
        print('guess higher')
    else:
        print('guess lower')
    guess = int(input('Guess kr Arshu : '))   
    counter+=1
print('correct!!!')
print('you took',counter,'attempts')

Guess kr Arshu :  4

guess higher

Guess kr Arshu :  6

guess higher

Guess kr Arshu :  7

guess higher

Guess kr Arshu :  8

guess higher

Guess kr Arshu :  9

correct!!!
you took 5 attempts

In [5]:
import random
jackpot = random.randint(1,100)
guess = int(input("Guess the no :"))
counter = 1
while guess != jackpot:
    if guess < jackpot:
        print('Guess higher')
    else:
        print('Guess lower')
    guess = int(input('Guess the no :'))
    counter+=1
print('correct!!')
print('you took',counter,'attempts')

Guess the no : 56

Guess higher

Guess the no : 70

Guess higher

Guess the no : 87

Guess lower

Guess the no : 80

Guess lower

Guess the no : 75

Guess lower

Guess the no : 72

Guess lower

Guess the no : 71

correct!!
you took 7 attempts

In [ ]:
import random
jackpot = random.randint(1,1000)
guess = int(input('Guess the number :'))
counter=1
while guess != jackpot:
    if guess < jackpot:
        print('guess higher')
    else:
        print('guess lower')
    guess = int(input('guess the no :'))
    counter+=1
print('correct!!!')
print('you took',counter,'attempts')

Guess the number :890
guess lower
guess the no :500
guess higher
guess the no :700
guess higher
guess the no :750
guess higher
guess the no :770
guess higher
guess the no :785
guess higher
guess the no :790
guess higher
guess the no :800
guess higher

# For loop

1. Range function

In [5]:
range(1,11)

range(1, 11)

In [8]:
list(range(1,11)) #last no will never contain.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
list(range(5))

[0, 1, 2, 3, 4]

which means the starting no. would be 0 always untill you give it another value.

In [9]:
list(range(1,11,2)) #2 indicates the gap b/w 1st and 2nd value.

[1, 3, 5, 7, 9]

In [10]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

2. Sequence

Sequence of list , sequences of tuple , sequence of sets ,sequences of dictionary.

In [ ]:
for loop iterate in sequence and range.

In [12]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [13]:
for i in "kolkata":
    print(i)

k
o
l
k
a
t
a

In [14]:
for i in [1,2,3,5]:
    print(i)

1
2
3
5

In [15]:
for i in {1,2,3,4}:
    print(i)

1
2
3
4

# Nested loop

In [16]:
# A loop is used inside a loop is called nested loop

In [18]:
# *
# * *
# * * *
# * * * *
# * * * * *

In [5]:
rows = int(input('Enter the no. of rows : '))
for i in range(1,rows +1):
    for j in range(0,i):
        print('*',end= ' ')
    print('')

Enter the no. of rows : 8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

# Break statement

In [3]:
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

# Continue statement

In [5]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

Continue is use to skip a particular number.

# Pass statement

In [6]:
for i in range(1,11):
    pass

The pass statement is use to skip the code for now and get back to it later.

# Built in function

# 1. print

In [7]:
print('hello world')

hello world

# 2. input

In [8]:
input('enter your name : ')

enter your name : Winkle

'Winkle'

# 3. type

In [10]:
a = 3.4
type(a) # type is use to check the type of value a.

float

# 4. int etc.

In [1]:
int("5")
#float
#string
#list
#tuple

5

# 5. abs

In [3]:
abs(-4) #if we put -4 it will give 4.

4

# 6. pow

In [4]:
pow(2,3) #it means 2 to the power 3.

8

# 7. min/max

In [5]:
min([2,4,3,1,4]) #give the minimum value

1

In [6]:
max([2,4,3,1,4]) #give the maximum value

4

# 8. round

In [7]:
c = 22/7
print(c)

3.142857142857143

In [9]:
c = 22/7
round(c,2) #if i want a round of value then we can use round instid of print function and here '2'refers to how many decimal places i want.

3.14

# 9. divmod

In [10]:
divmod(5,2) # divmod(x,y) and get (x//y , x%y)

(2, 1)

# 10. bin/oct/hex

In [11]:
# if you need any binary value , octal value or hex decimal value
hex(4)

'0x4'

# 11. id

In [12]:
a = 3
id(a) # to check the memory fuction of any value.

139708509208880

# 12. ord

In [14]:
ord('F') #return the unicode code point for a one character string.

70

# 13. len

In [16]:
len("kolkata") # find the length of any string ,fload, tuple

7

# 14. sum

In [17]:
sum([1,2,3,4,5]) #add all the numbers

15

# 15. help

In [20]:
help('sum')

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# What are modules?

Consider a module to be the same as a code library.

A file containing a set of function you want to include in your application.

Examples of python modules

- Maths
- Random
- os
- time

# 1. Maths module

In [1]:
import math #where math is library

In [2]:
math.pi # return the value of pi.

3.141592653589793

In [3]:
math.factorial(5)

120

# 2. Random module

In [5]:
import random

In [6]:
random.randint(1,100)

77

In [ ]:
# it genrates random number in a given range.

In [8]:
a = [1,2,3,4,5]
random.shuffle(a)
a

[2, 5, 4, 1, 3]

In [ ]:
# this function shuffle the list.

# 3. Time module

In [9]:
import time

In [16]:
time.time() # this fuction show the seconds has passed since 1st january.

1683628413.2621233

In [17]:
time.ctime() # shows the current time.

'Tue May  9 16:03:49 2023'

In [28]:
print('This')
time.sleep(0.5)
print('is')
time.sleep(0.5)
print('your')
time.sleep(0.5)
print('girl')
time.sleep(0.5)
print('Winkle')

This
is
your
girl
Winkle

In [20]:
import os

In [21]:
os.getcwd()

'/home/winkle'

In [22]:
# this will show the current directory.

In [3]:
os.listdir()

NameError: name 'os' is not defined

# Strings are sequence of Characters
 
 In Python specifically, strings are a sequence of Unicode characters
 
 - Creating String
 - Accessing String
 - Adding Chars to String
 - Editing String
 - Deleting String
 - Operations on Strings
 - String Functions

# Creating

In [29]:
c = 'hello'
print(c)

hello

In [31]:
'It's raining outside'

SyntaxError: unterminated string literal (detected at line 1) (2132155197.py, line 1)

In [32]:
"It's raining outside"

"It's raining outside"

In [33]:
# In the first code, using single inverted comma shows error because inside there was also a inverted comma, 
# So solving this problem , we can use double inverted comma that will not show error.

# Accessing Substrings from a String

In [1]:
# concept of Indexing
a = 'hello'
print(a)

hello

In [2]:
print(a[4])

o

In [3]:
#which means 'h' has 0 index postion, 'e' has 1, 'l' has 2 and show on..

# Types of Indexing
- Positive indexing
- Negative indexing

### Positve indexing :
where the indexing starts from left to right and first indexing is start from 0 and get increase the no.

### Negative indexing :
where the indexing starts from right to left and starts with -1 and have all negative indexing.

In [4]:
print(a[-1])

o

In [5]:
print(a[-4])

e

# Slicing

In [6]:
a = 'hello world'
print(a)

hello world

In [7]:
print(a[0:5]) #it means we are picking words from indexing 0 to 5

hello

In [9]:
print(a[6:8]) # it means we are picking words from indexing 6 to 8

wo

In [10]:
print(a[4:]) # means picking words from indexing 4 onwards

o world

In [11]:
print(a[:7]) # till 7

hello w

In [12]:
print(a[3:8:2]) # here 2 denotes to skip means we can pick 2 word.

l o

In [13]:
print(a[4:7:-1])# not applicable because if take positive index then not takes negative one

In [18]:
print(a[-9:-2:2]) # possible with the negative one only

lowr

In [19]:
print(a[::-1]) # got reverse

dlrow olleh

In [22]:
print(a[-2:-5:-1]) # first two index is differ when using the negative skip.

lro

In [4]:
a = 'Hello'
print(a)

Hello

In [5]:
a[0] = 'X'

TypeError: 'str' object does not support item assignment

In [6]:
# Strings are a Immutable Data type ( immutable = unchange)

In [7]:
#The existing string nither be edited nor can add the characters.

### Deletion

In [9]:
a

'Hello'

In [11]:
del a # string has deleted.

In [12]:
print(a)

NameError: name 'a' is not defined

In [13]:
b = 'Arshu'
print(b)

Arshu

In [14]:
del b[0]

TypeError: 'str' object doesn't support item deletion

In [15]:
# Can't delete a particular character in a string.

# Operations on strings

- Arithmetic Operations
- Relational Operations
- Logical Operations
- Loops on Strings
- Membership Operations

### Arithmetic Operations

In arithmetic Operations, only + (concatination in srings) and multiplications is used here.

#### Concatination

In [4]:
"hello" + " " + "guys"

'hello guys'

#### String multiplication

In [13]:
print("="*8)

========

In [8]:
#only multiplication operater will use here.

## Relational Operations

In [14]:
# examples, <,>,==,!= ,<= ,=>

In [15]:
'Winkle' == 'Winku'

False

In [16]:
'winkle' != 'winku'

True

In [17]:
"hp" < "up" #lexiographically(comparision b/w dictionary sequence)therefore h comes first than u in a dictionary

True

In [21]:
'win' < 'Win' # small letters come later which means 'w' is larger letter than 'W'

False

In [2]:
"hello Mike".find("Mike")

6

In [4]:
1+3*2

7

In [5]:
type(int(12.3))

int

In [6]:
int(False)

0

In [7]:
'1'+'2'

'12'

In [11]:
myvar='hello'
myvar.find('hello')

0

In [13]:
str(1)+str(31)

'131'

In [14]:
"123".replace("12","ab")

'ab3'

In [23]:
x=2/2
type(x)

float