In [ ]:
import pandas as pd
import numpy as np

In [ ]:
delivery = pd.read_csv('deliveries.csv')

In [ ]:
delivery

In [ ]:
# groupby()method:
gp = delivery.groupby('batsman')

In [ ]:
gp.get_group('V Kohli')

In [ ]:
gp['batsman_runs'].sum().sort_values(ascending=False).head(10)

In [ ]:
# find out top 5 teams, the batsman scored most runs against.

In [ ]:
marks = delivery['batsman_runs']==4

In [ ]:
new_delivery = delivery[marks]

In [ ]:
new_delivery.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head()

In [ ]:
vk=delivery[delivery['batsman']=='V Kohli']

In [ ]:
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head()

In [ ]:
def run_scored(batsman_name):
    vk = delivery[delivery['batsman']==batsman_name]
    return vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(1).index[0]

In [ ]:
run_scored('V Kohli')

In [ ]:
run_scored('G Gambhir')

In [ ]:
run_scored('MS Dhoni')

### isin( )

In [ ]:
# isin()
# Find the most distructive death over batsman in the history of IPL
# Strike Rate = (Number of runs/Number of balls)*100
# Min batsman 200 balls in over 16-20

In [ ]:
death_over = delivery[delivery['over']>15]

In [ ]:
all_batsman=death_over.groupby('batsman')['batsman_runs'].count()

In [ ]:
x = all_batsman>200

In [ ]:
# boolean indexing 
all_batsman[x]

In [ ]:
all_batsman[x].index # shows the batsman column

In [ ]:
# convert index into a list using tolist():
batsman_list = all_batsman[x].index.tolist()

In [ ]:
# no. of runs :
# runs scored by all these 43 batsman
final = death_over[death_over['batsman'].isin(batsman_list)]

In [ ]:
runs = final.groupby('batsman')['batsman_runs'].sum()

In [ ]:
# Balls played by these 43 batsman:
balls = final.groupby('batsman')['batsman_runs'].count()

In [ ]:
# strike rate: 
sr = (runs/balls)*100

In [ ]:
sr

### Merge function:

In [ ]:
# Find the list of orange cap holders

In [ ]:
# orange cap holders is the player who has scored highest run in that particular IPL season.

In [ ]:
# Merge is same as join in sql.

In [ ]:
# so we need to add matches dataset also.

In [ ]:
match = pd.read_csv('matches - matches.csv')

In [ ]:
match.head()

In [ ]:
delivery.head()

In [ ]:
# (right)id and (left)match_id are the same columns in both the tables so we will join both with it only.
new=delivery.merge(match,left_on='match_id',right_on='id')

In [ ]:
new.shape

In [ ]:
print(delivery.shape)
print(match.shape)

In [ ]:
new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False)

In [ ]:
type(new.groupby(['season','batsman'])['batsman_runs'].sum())

In [ ]:
#now we will convert series into dataframe by using "reset_index()"

In [ ]:
new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False).reset_index()

In [ ]:
# now we get highest run by batsman of every season,now we will take only highest run player and remove others.
# for that we will use drop_duplicates().

In [ ]:
new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False).reset_index().drop_duplicates(subset='season',keep='first')

In [ ]:
# again sort in terms of season and take 2 columns only : season and batsman.

In [ ]:
new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False).reset_index().drop_duplicates(subset='season',keep='first').sort_values('season')[['season','batsman']]

### Pivot table :
pivot_table()

In [ ]:
# find no of six in each over for each batting team using pivot table.

In [ ]:
mark = delivery['batsman_runs']==6
six = delivery[mark]
six.head()

In [ ]:
pt=six.pivot_table(index='over',columns='batting_team',values='batsman_runs',aggfunc='count') # count no.of six in each over.

In [ ]:
pt

In [ ]:
# convert it into a heatmap.

In [ ]:
import seaborn as sns

In [ ]:
sns.heatmap(pt)

### Correlation function

In [ ]:
# corr()

In [ ]:
match.corr()

In [ ]:
sns.heatmap(match.corr())

In [ ]:
# lighter the colour higher will be the correlation of row and column.

### Rename columns:

In [ ]:
# rename()

In [ ]:
match.head()

In [ ]:
# we will rename city and date.

In [ ]:
match.rename(columns={'city':'place','date':'dom'})

In [ ]:
match.head()

In [ ]:
# not a permanent change, for that we need to use implace=True.