In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('matches - matches.csv')

In [ ]:
type(data)

In [ ]:
data.head()

In [ ]:
# to know the shape of dataframe means row and column

In [ ]:
data.shape   #it is an attribute not a function so no parentheses.

In [ ]:
data.info()   # gives a preview of the data.

In [ ]:
data.describe()    #works only in numeric values and ignore the string values.

In [ ]:
data.head()

In [ ]:
# fetch a column in the given dataframe.
data['winner']

In [ ]:
type(data['winner'])  #single column becomes series

In [ ]:
# fetch multiple columns:
data[['team1','team2','winner']]    #add all columns in a list.

In [ ]:
type(data[['team1','team2','winner']])   #this is dataframe not series because it contains multiple columns.

In [ ]:
# fetch a row in the dataframe:
data.iloc[0]  # use indexing to fetch row    #series

In [ ]:
# slicing to fetch multiple rows:
data.iloc[1:3]   #dataframe

In [ ]:
data.iloc[[1,4,7]]  # fancy indexing to fetch the row of your choice.

In [ ]:
data.iloc[1:6:2]  #[start,stop,step]

In [ ]:
# use iloc for fetching columns:
data.iloc[:,[4,5,10]]

In [ ]:
#filtering dataframe based on a given condition
data['city']== 'Pune'

Returning boolean values only

In [ ]:
mark = data['city']=='Pune'
data[mark]   # now it will return Pune's data only

In [ ]:
data[mark].shape    #show the count of rows and column.

In [ ]:
# multiple conditions can also be done.
mark1 = data['city']=='Indore'
mark2 = data['date']> '2010-01-01'
data[mark1 & mark2].shape[0]

In [ ]:
 # find how many matches each team won. there we use value_counts()

In [ ]:
data['winner'].value_counts()

In [ ]:
# The pandas plot()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
data['winner'].value_counts().plot(kind='bar')

In [ ]:
data['toss_decision'].value_counts()

In [ ]:
data['toss_decision'].value_counts().plot(kind='pie')

In [ ]:
data['winner'].value_counts()

In [ ]:
# index                        Values
# it should be unique          it can repeat

In [ ]:
type(data['winner'].value_counts())

In [ ]:
# we can use mathematical operations in 2 series if the index of both series is same.

In [ ]:
data['team1'].value_counts()

In [ ]:
data['team2'].value_counts()

In [ ]:
# both have same index so we will apply arithmetic operations in it.

In [ ]:
data['team1'].value_counts() + data['team2'].value_counts()

In [ ]:
# sort_values() method :

In [ ]:
#applicable in both series and dataframe.

In [ ]:
# lets sort based on values.

In [ ]:
(data['team1'].value_counts() + data['team2'].value_counts()).sort_values(ascending=False)  #ascending is default

In [ ]:
#lets sort the values based on city:

In [ ]:
data.sort_values('city')   # no permanent change.

In [ ]:
data.head()

In [ ]:
data.sort_values('city',ascending=False) #make it in descending order.

In [ ]:
# data.sort_values('city',*inplace=True*) #for permanent change

In [ ]:
# we can use sort_values() method for multiple columns and use ascending and descending also.
# for example: we want to sort city in ascending order and date in descending order. so lets do it:

In [ ]:
data.sort_values(['city','date'],ascending=[True,False])

In [ ]:
# The drop_duplicates() method:

In [ ]:
data.drop_duplicates(subset='city').shape

In [ ]:
# With this info we can conclude that matches has been played in 31 cities. (it shows unique city)

In [ ]:
# this is not a permanent change because inplace = False (by default)

Q: Find each season winner from dataset.

In [ ]:
# In this dataset there is no final winner data available but it is obvious that final winner of 
# season will be the last match winner of every season.

In [ ]:
data.drop_duplicates(subset='season') # only unique season.

In [ ]:
data.drop_duplicates(subset='season').shape

In [ ]:
# we need 10 final winners of every season.

In [ ]:
data.drop_duplicates(subset='season',keep='last') # by default it keeps the first value of season but we want last.

In [ ]:
data.drop_duplicates(subset='season',keep='last')[['season','team1','team2','winner']]

In [ ]:
# now sort it based on season :

In [ ]:
data.drop_duplicates(subset='season',keep='last')[['season','team1','team2','winner']].sort_values('season')

In [ ]:
data.head()

In [ ]:
mark = data.drop_duplicates(subset='season',keep='last').sort_values('season')

In [ ]:
mark.head()

In [ ]:
mark[['season','winner']]

In [ ]:
pt=mark.pivot_table(index='season',columns='winner',values='win_by_runs',aggfunc='sum')
pt

In [ ]:
sns.heatmap(pt)

In [ ]:
import seaborn as sns

### set_index( ) and reset_index( )

In [ ]:
data.head(4)

In [ ]:
# instead of using panda's index, we could use our own column as index.

In [ ]:
# we will set "id" column as index:

In [ ]:
data.set_index('id')

now 'id' is not column anymore but an index.

In [ ]:
# to make this permanent we need to use inplace=True

In [ ]:
data.set_index('id',inplace=True)

In [ ]:
data

In [ ]:
# reset_index(): To reset whatever we had set before.

In [ ]:
data.reset_index(inplace=True)

In [ ]:
data

In [ ]:
train = pd.read_csv('train.csv')

In [ ]:
train.head()

## Handling Missing Values

1. Dropping missing data using dropna( )

2. Filling missing values using fillna( )

### 1. Dropping missing data using dropna( ) :

In [ ]:
train.shape

In [ ]:
train.dropna().shape

In [ ]:
# by default axis is 0(row). if axis = 1 (column) and it will remove null values from column.

In [ ]:
# how = "any"(by default) which means if any value is null in a row it will drop that row. 
#and if how ='all' means all values are null in a row then only it will drop that row.

In [ ]:
train.dropna(how = 'all').shape

In [ ]:
train.dropna(axis=1).shape

In [ ]:
# subset = None (by default)
# we can add a particular column or multiple column as a list in subset 
# to remove null values from those columns only.

In [ ]:
train.dropna(subset='Cabin').shape

In [ ]:
train.dropna(subset=['Cabin','Embarked']).shape

In [ ]:
# If any changes need to be parmanent use inplace = True.

### 2. Filling missing values using fillna( )

In [ ]:
train.fillna(0)

In [ ]:
# if we use an integer value to each column where there are some other data types values then it will become a mess.
# so what we can do is that we can apply fillna( ) in specific columns

In [ ]:
train['Cabin'].fillna('Not specified',implace)

In [ ]:
train['Age'].fillna(30)

In [ ]:
train['Age']

In [ ]:
train['Age'].fillna(method = 'bfill') #backwardfill it will fill the next value.

In [ ]:
train['Age'].fillna(method = 'ffill') #forwardfill it will fill the last value.