In [ ]:
import numpy as np
import pandas as pd

In [ ]:
courses = pd.read_csv('courses.csv')
nov = pd.read_csv('reg-month1.csv')
dec = pd.read_csv('reg-month2.csv')
students = pd.read_csv('students.csv')
delivery = pd.read_csv('deliveries.csv')
matches = pd.read_csv('matches - matches.csv')

### concat :

In [ ]:
# we can vertically stack two dataframes using pd.concat()

In [ ]:
pd.concat([nov,dec])

In [ ]:
# if two dataframes concat they will show there diff index. In this case, use a parameter ignore_index=True

In [ ]:
regs = pd.concat([nov,dec],ignore_index=True) # now no index is repeating.

In [ ]:
regs

#### df.append( )

In [ ]:
# the alternative of concat is append.

In [ ]:
nov.append(dec,ignore_index=True)

In [ ]:
# both are same but use concat because append() will deprecate soon it will not be available in future versions.

In [ ]:
# Multiindex dataframe:
multi = pd.concat([nov,dec],keys=['nov','dec'])
multi

In [ ]:
# two indexes has been created.

In [ ]:
multi.loc['dec']

In [ ]:
# loc -> lable based indexing
# iloc -> int position based indexing.

In [ ]:
# concat dataframes horizontally:
pd.concat([nov,dec],axis=1)

### Merge:

In [ ]:
# inner join
students

In [ ]:
regs

In [ ]:
students.merge(regs,how='inner',on='student_id')

In [ ]:
# left join
courses.merge(regs,how='left',on='course_id')

In [ ]:
# right join
students.merge(regs,how='right',on='student_id')

In [ ]:
# outer join
students.merge(regs,how='outer',on='student_id')

In [ ]:
# find total revenue generated

In [ ]:
regs.merge(courses,how='inner',on='course_id')['price'].sum()

In [ ]:
# find month by month revenue.

In [ ]:
temp_df = pd.concat([nov,dec],keys=['nov','dec']).reset_index()

In [ ]:
temp_df

In [ ]:
temp_df.merge(courses,on='course_id').groupby('level_0')['price'].sum()

In [ ]:
# print the registration table
# cols -> name -> course -> price

In [ ]:
regs.merge(students,on='student_id').merge(courses,on='course_id')[['name','course_name','price']]

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# plot bar chart for revenue/course

In [ ]:
regs.merge(courses,on='course_id').groupby('course_name')['price'].sum().plot(kind='bar')

In [ ]:
# find students who enrolled in both the months

In [ ]:
comn_std_id = np.intersect1d(nov['student_id'],dec['student_id'])
comn_std_id

In [ ]:
students[students['student_id'].isin(comn_std_id)]

In [ ]:
# find course that get no enrollment

In [ ]:
course_id_list = np.setdiff1d(courses['course_id'],regs['course_id'])

In [ ]:
course_id_list

In [ ]:
courses[courses['course_id'].isin(course_id_list)]

In [ ]:
# find students who did not enroll into any courses

In [ ]:
stud_list = np.setdiff1d(students['student_id'],regs['student_id'])

In [ ]:
stud_list

In [ ]:
students[students['student_id'].isin(stud_list)]

In [ ]:
# self join
students.merge(students,how='inner',left_on='partner',right_on='student_id')[['name_x','name_y']]

In [ ]:
# find top 3 students who did most number enrollments

In [ ]:
regs.merge(students,how = 'inner',on='student_id').groupby(['student_id','name'])['name'].count().sort_values(ascending=False).head(3)

In [ ]:
regs.merge(students,how = 'inner',on='student_id')[['student_id','name']].value_counts().head(3)

In [ ]:
# find top 3 students who spent most amount of money on courses.

In [ ]:
# regs
students.merge(regs,on='student_id').merge(courses,on='course_id').groupby(['student_id','name'])['price'].sum().sort_values(ascending=False).head(3)

In [ ]:
# IPL Problems

# find top 3 stadiums with highest (sixes/match) ratio
# find orange cap holder of all the seasons

In [ ]:
temp_df = matches.merge(delivery,left_on='id',right_on='match_id')

In [ ]:
dump = temp_df[temp_df['batsman_runs']==6]

In [ ]:
dump.groupby('venue')['venue'].count().sort_values(ascending=False).head(3)

In [ ]:
matches